body {
    margin: 0 0 0 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.full {
    text-align: center;
    height: 100%;
    overflow-y: scroll;
}

.pad {
    padding: 10px 10px 10px 10px;
}