<!doctype html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Argos</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=Epo9GwIWGT5AtgxVLJrd&submodules=geocoder"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="css/base.css">
</head>

<body class="container-fluid wrapper">
    <div class="row full">
        <div id="vueapp" class="col-5 full">
            <div class="row full">
                <div id="left" class="col-6 full pad scrollable">
                    <div>
                        <button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="sendVideos">Analyze Videos</button>
                        <button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="fileDialog">Add Video</button>
                        <div class="card pad" v-for="(video, index) in videos" v-on:click="fileOpen(index)" v-bind:class="{'bg-secondary' : index === open_file_index}">
                            <div class="card-block">
                                <h2>{{video.file.split('/').slice(-1)[0]}}</h2>
                                <small>{{video.file}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="middle" class="col-5 full pad scrollable">
                    <form v-if="open_file">
                        <div class="form-group">
                            <label for="inputFile">File name</label>
                            <input type="text" class="form-control" id="inputFile" v-bind:placeholder="open_file.split('/').slice(-1)[0]" readonly>
                        </div>
                        <div class="form-group">
                            <label for="inputMemo">Memo</label>
                            <input type="text" class="form-control" id="inputMemo" v-model="input_memo">
                        </div>
                        <div class="form-group">
                            <label for="inputDatetime">Datetime</label>
                            <input type="datetime-local" class="form-control" id="inputDatetime" v-model="input_datetime">
                        </div>
                        <div class="form-group">
                            <label for="inputLocation">Location</label>
                            <input type="text" class="form-control" id="inputLocation" v-model="input_location">
                            <div v-if="locations.length > 0">
                                <div class="card pad" v-for="(location, index) in locations" v-on:click="locationSet(location)">
                                    <div class="card-block">
                                        <h4 class="card-title">{{location.address}}</h4>
                                        <p class="card-text">{{location.lat}}, {{location.lng}}</p>
                                    </div>
                                </div>
                            </div>
                            <div v-else-if="input_location.length > 0">
                                <div class="card pad">
                                    <div class="card-block">
                                        <h4 class="card-title">Not found.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="fileSave()">Save Video</button>
                        <button type="button" class="btn btn-danger btn-lg btn-block" v-on:click="fileDelete()">Delete Video</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="right" class="col-7 full">
            <!-- Map -->
        </div>
    </div>

    <script>
        'use strict';

        const {
            dialog
        } = require('electron').remote;

        var map = new naver.maps.Map(
            'right', {
                center: new naver.maps.LatLng(37.3595704, 127.105399),
                zoom: 10
            }
        );

        class Video {
            constructor(file, datetime, location, memo) {
                this.file = file;
                this.datetime = datetime;
                this.location = location;
                this.memo = memo;
            }

            checkVideo() {
                let errors = [];
                if (this.file == null || this.file == '') {
                    errors.push('File is empty.');
                }
                if (this.datetime == null || this.datetime == '') {
                    errors.push('Datetime is empty.')
                }
                if (this.location == null || this.location.constructor.name !== "Location") {
                    errors.push('Location is empty.');
                } else {
                    let locationErrors = this.location.checkLocation();
                    for (let i = 0; i < locationErrors.length; i++) {
                        errors.push(locationErrors[i]);
                    }
                }
                if (this.memo == null) {
                    this.memo = '';
                }
                return errors;
            }
        }

        class Location {
            constructor(address, lat, lng) {
                this.address = address;
                this.lat = lat;
                this.lng = lng;
            }

            checkLocation() {
                let errors = [];
                if (this.address == null || this.address == '') {
                    errors.push('Address is empty.');
                }
                if (this.lat == null || isNaN(parseFloat(this.lat))) {
                    errors.push('Address latitude is wrong.');
                }
                if (this.lng == null || isNaN(parseFloat(this.lng))) {
                    errors.push('Address longitude is wrong.');
                }
                return errors;
            }
        }

        var app = new Vue({
            el: '#vueapp',
            data: {
                videos: [],
                files: [],
                locations: [],

                open_file_index: null,
                open_file: '',
                open_datetime: null,
                open_location: null,
                open_memo: null,

                input_location: '',
                input_datetime: '',
                input_memo: '',

                chosen_location: '',
                chosen_marker: null,
            },
            methods: {
                fileDialog: () => {
                    dialog.showOpenDialog({
                            title: 'Choose Video',
                            properties: ['openFile', 'multiSelections'],
                        },
                        (files) => {
                            for (let file of files) {
                                if (app.files.includes(file) === false) {
                                    app.files.push(file);
                                    app.videos.push(new Video(file, null, null, ''));
                                }
                            }
                        }
                    );
                },
                fileOpen: (index) => {
                    app.filePromptPurge();

                    app.open_file_index = index;
                    app.open_file = app.videos[index].file;
                    app.open_datetime = app.videos[index].datetime;
                    app.open_location = app.videos[index].location;
                    app.open_memo = app.videos[index].memo;

                    app.input_datetime = app.open_datetime === null ? '' : app.open_datetime;
                    app.input_location = app.open_location === null ? '' : app.open_location.address;
                    app.input_memo = app.open_memo === null ? '' : app.open_memo;
                    app.chosen_location = app.open_location;
                },
                fileSave: () => {
                    if (app.open_file_index === null) return;
                    let video = new Video(
                        app.videos[app.open_file_index].file,
                        app.input_datetime,
                        app.chosen_location,
                        app.input_memo
                    );
                    let errors = video.checkVideo();
                    if (errors.length > 0) {
                        alert('Cannot save video metadata.\n' + errors.join('\n'));
                    } else {
                        app.videos[app.open_file_index] = video;
                        app.filePromptPurge();
                    }
                },
                fileDelete: () => {
                    if (app.open_file_index === null) return;
                    app.videos.splice(app.open_file_index, 1);
                    app.files.splice(app.open_file_index, 1);
                    app.filePromptPurge();
                },
                filePromptPurge: () => {
                    app.locations = [];

                    app.open_file_index = null;
                    app.open_file = '';
                    app.open_datetime = null;
                    app.open_location = null;
                    app.open_memo = null;

                    app.input_location = '';
                    app.input_datetime = '';
                    app.input_memo = '';

                    app.chosen_location = null;
                    if (app.chosen_marker !== null) app.chosen_marker.setMap(null);
                    app.chosen_marker = null;
                },
                locationSet: (location) => {
                    app.chosen_location = new Location(location.address, location.lat, location.lng);
                    app.input_location = location.address;
                    if (app.chosen_marker !== null) app.chosen_marker.setMap(null);
                    let position = new naver.maps.LatLng(location.lat, location.lng);
                    app.chosen_marker = new naver.maps.Marker({
                        position: position,
                        map: map
                    });
                    map.panTo(position);
                },
                sendVideos: () => {
                    let errors = [];
                    for (let i = 0; i < app.videos.length; i++) {
                        var video = app.videos[i];
                        var videoErrors = video.checkVideo();
                        if (videoErrors.length > 0) {
                            errors = errors.concat([video.file], video.checkVideo(), [""]);
                        }
                    }
                    if (errors.length > 0) {
                        alert('Cannot analyze video.\n' + errors.join('\n'));
                    } else {
                        if (confirm("Are you sure you want to stop adding videos?")) {
                            let reqVideos = [];
                            for (let i = 0; i < app.videos.length; i++) {
                                let video = app.videos[i];
                                reqVideos.push({
                                    "lat": video.location.lat,
                                    "lng": video.location.lng,
                                    "path": video.file,
                                    "time": video.datetime,
                                    "memo": video.memo
                                });
                            }
                            // TODO: Send this.
                            let reqData = JSON.stringify({
                                "videos": reqVideos,
                                "code": "detect_request"
                            });
                            console.log(reqData);

                            // TODO: Go to loading page.
                        }
                    }
                }
            },
            watch: {
                input_location: function(newVal, oldVal) {
                    if (newVal === '') return;
                    naver.maps.Service.geocode({
                        address: newVal,
                    }, function(status, response) {
                        app.locations = [];
                        if (status === naver.maps.Service.Status.ERROR) {
                            return;
                        }
                        for (let i = 0; i < response.result.total; i++) {
                            app.locations.push(new Location(
                                response.result.items[i].address,
                                response.result.items[i].point.y,
                                response.result.items[i].point.x,
                            ));
                        }
                    });
                },
            }
        });
    </script>
</body>